hmlt,
body {
  margin: 0px;
  background-color: #247224;
  color: white;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas,
#computador-cartas {
  width: 250px;
}
